<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Log in</title>
</head>

<body>
    <%- include ('partials/menu.ejs') %>
        <div class="contents">
            <h1>Log in</h1>
            <p>Log in to create and comment on posts.</p>
            <p>login stuff</p>
            <br>
            <p>New user? Signup <a href="/signup">here</a></p>
        </div>
</body>

</html>