<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New post</title>
</head>

<body>
    <%- include ('partials/menu.ejs') %>
        <div class="contents">
            <h1>Add new post</h1>

            <form action="/posts" method="post">
                <label for="title" style="margin-bottom:5px;">Title (max 200 characters)</label>
                <textarea id="title" name="title" maxlength=200 placeholder="Summarise your post..."
                    class="expand-titlefield" style="margin-bottom:15px;" autocomplete="off" required></textarea>

                <label for="contents" style="margin-bottom:5px;">Contents (max 1000 characters)</label>
                <textarea id="contents" name="contents" maxlength=1000 placeholder="What's on your mind?"
                    class="expand-contentfield" style="margin-bottom:15px;" autocomplete="off" required></textarea>

                <button type="submit" style="bottom: 50px; font-family: inherit; height: 40px;">Submit new post</button>
            </form>
        </div>
</body>

</html>