<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Post not found</title>
</head>

<body>
    <h1>The requested post cannot be found</h1>
    <h2><a href="/posts">&lt; Back</a></h2>
    <p>This is a safe page to handle any invalid requests. Please hit 'Back' to return the forum's main page.</p>
</body>

</html>