<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Post not found</title>
</head>

<body>
    <div class="menu_bar">
        <h1 style="color:white; padding-bottom:5px">ForumPage</h1>
        <ul style="list-style: none; display: flex;">
            <li><a href="/posts"> Posts</a></li>
            <li><a href="/newpost"> New Post</a></li>
            <li><a href="https://github.com/Jaye136/forum-site"> GitHub</a></li>
            <% if (currUser=='undefined' ) { %>
                <li><a href="#">Anonymous ▼ %></a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Log in</a></li>
                        </ul>
                    </div>
                    <% } else { %>
                <li><a href="#">
                        <%currUser.username %> ▼
                    </a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#">Log off</a></li>
                        </ul>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>

    <div class="contents">
        <h1>The requested post cannot be found</h1>
        <h2><a href="/posts">&lt; Back</a></h2>
        <p>This is a safe page to handle any invalid requests. Please hit 'Back' to return the forum's main page.</p>
    </div>
</body>

</html>